<div class = "center">
<p>Artist: <%= @album.artist.name %></p>
<p>Title: <%= @album.title %> </p>
<p>Genre: <%= @album.genre.genre %> </p>
<p>Number in Stock:<% if @album.quantity <= 2 %>
<div class = "red"><%= @album.quantity %></div>
<% elsif @album.quantity <= 5 %>
<div class = "orange"><%= @album.quantity %></div>
<% elsif @album.quantity >= 6 %>
<div class = "green"><%= @album.quantity %></div>
 </p>
 <% end %>
<p>Retail Price: <%= @album.retail %> </p>
<p>Wholesale Price: <%= @album.wholesale %> </p>
<p>Gross Profit: <%= (((@album.retail.to_f - @album.wholesale.to_f)/ @album.retail.to_f)*100).round(1)%>%</p>
<

<a href="/albums/<%= @album.id %>/edit">Edit Details</a>

<form method="POST" action="/albums/<%= @album.id %>/delete">
<input class= "btn" type="submit" value ="De-list Album"/></form>
</div>
